body {
  width: 100vw;
}

.title {
  width: 100vw;
  text-align: center;
  margin: 1vh 0 4vh 0;
}
.title h1 {
  font-size: 3.5vw;
  line-height: 3vw;
  font-family: 'Roboto', sans-serif;
  margin: 4vh 0 2vh 0;
  padding: 0;
}
.topbar img {
  height: 7vh;
  width: 29.5vh;
  margin: 1.5vh 0 0 5vw;
}
.content {
  width: 100vw;
  display: flex;
  flex-direction: row;
}
.content .media {
  width: 50vw;
  margin: 0 0 0 5vw;
  height: 28.13vw;
  display: inline-block;
}
.content .text {
  width: 35vw;
  padding: 0 5vw 0 5vw;
}
.text p {
  font-size: 1.3vw;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
.text p a {
  color: #4f1014;
  cursor: pointer;
}
.topBar {
  background-color: #4f1014;
  width: 100vw;
  height: 3vw;
}
.topBar button{
  font-size: 2vw;
  color: #fffaf1;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  background: none;
  border: none;
  margin-top: .2vw;
  border-left: 1px solid #fffaf1;
  cursor: pointer;
  float: right;
}
.topBar .first {
  margin-right: 1vw;
}
.topBar .last {
  border-left: none;
}
.topBar img {
  margin-right: 1vw;
}
.spacer {
  height: 1vw;
}
