@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap');

body {
	background-image: url("/assets/ocean.jpg"); 
	background-repeat: repeat;
}

.header {
	background-color: rgba(79,16,20,.5); 
	height: 7%; 
	width:100%; 
	position: absolute; 
	padding-bottom: 10px;
	top: 3.5%;
	left: 50%;
	transform: translate(-50%, -50%); 
}

.header a {font-family: font-family: 'Roboto', sans-serif; font-size: 18px; color: #FAF9F6; padding-left: 20px;}

h1 {font-family: 'Playfair Display', serif; font-size: 30px; color: #FAF9F6; padding-left: 20px;}

.body-copy {
	position: absolute;
	height: 93%; 
	width: 75%; 
	background-color: rgba(248,248,255,.5); 
	font-size: 18px; 
	padding: 25px;
	top: 53.5%;
	left: 45%;
	transform: translate(-50%, -50%); 
}

.video {display: block; padding-top: 20px;}

a {color: #4f1014; text-decoration: none;} 

a:hover {color: #000000; text-decoration: underline;}
